#logo{
	margin-top: -14px;
	width: 50px;
	height: 45px;
	left: 30px;
}

.selectri{
    position: absolute;
    top: 170px;
    left: 169px;
}

.triangulo{
    position: absolute;
    top: 210px;
    left: 120px;    
}

.altura1{
   position:absolute;
   top: 370px;
   left:70px;
}

.calcuarea{
    position:absolute;
    top:426px;
    left:290px;
}

.periarea{
    position:absolute;
    top:510px;
    left:290px;
}

.calcuperi{
    position:absolute;
    top:469px;
    left:290px;
}

.base1{        
    position: absolute;
    top: 330px;
    left: 70px;    
}

.area1{
    position: absolute;
    top: 430px;
    left: 70px;
}

.perimetro1{
    position:absolute;
    top: 470px;
    left: 70px;
}

.caltrian{
    position: absolute;
    top:510px;
    left:120px;
}

.cuadrado{
    position: absolute;
    top:200px;
    left:550px;
}

.dimen{
    position: absolute;
    top:300px;
    left:490px;
}

.area2{
    position: absolute;
    top: 350px;
    left: 490px;
}

.calcuarea1{
    position: absolute;
    top: 350px;
    left: 710px;
}

.calcuperi1{
    position: absolute;
    top:390px;
    left:710px;
}

.periarea1{
    position:absolute;
    top:430px;
    left:710px;
}

.perimetro2{
    position: absolute;
    top: 390px;
    left:490px;
}

.selecuad{
    position: absolute;
    top:170px;
    left:585px;
        
}

.calcuad{
    position: absolute;
    top:430px;
    left:550px;
}

.rectangulo{
    position: absolute;
    top: 200px;
    left:900px;    
}

.altura3{
    position: absolute;
    top: 350px;
    left: 870px;    
}

.base3{
    position:absolute;
    top:310px;
    left:870px;    
}

.area3{
    position: absolute;
    top: 400px;
    left: 870px;
}

.perimetro3{
    position: absolute;
    top: 440px;
    left: 870px;
}

.calcuarea2{
    position: absolute;
    top: 400px;
    left: 1090px;
}

.calcuperi2{
    position: absolute;
    top: 438px;
    left: 1090px;
}

.periarea2{
    position:absolute;
    top:485px;
    left:1090px;
}

.selectrec{
    position: absolute;
    top: 160px;
    left: 950px;
}

.calrec{
    position: absolute;
    top: 480px;
    left: 930px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;    
    transform: translatex(-50%);
}

